.attributeToggle
  float left
  width 100%
  height auto  

.attributeToggle
  .attributeToggleIcon
    float left
    width 100%
    height 20px
    background-repeat no-repeat
    background-position left 5px

.attributeToggle.isExpanded
  .attributeToggleIcon
    background-image url(./arrowExpanded.svg)
    background-size 13px 8px

.attributeToggle.isCollapsed
  .attributeToggleIcon
    background-image url(./arrowCollapsed.svg)
    background-size 8px 12px
