/**
 * Layout
 */
.attributeObjectMemeber
  width 100%
  height auto
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
  align-items stretch

.attributeObjectMemeberKey
.attributeObjectMemeberRequirement
.attributeObjectMemeberDescription
.attributeObjectMemeberValue
  flex-grow 1  
  height auto
  padding-bottom 10px
  padding-top 10px
  width auto

.attributeObjectMemeberKey
  width 160px
  max-width 160px
  min-width 160px
  order 1

.attributeObjectMemeberRequirement
  max-width 25px
  width 25px
  min-width 25px
  order 2

.attributeObjectMemeberDescription
  flex-grow 4
  order 3

.attributeObjectMemeberValue
  order 4
  width 100%
  

/**
 * Base
 */
.attributeObjectMemeber
  border-bottom 1px solid #3a3e4d
