/**
 * Layout
 */
.attributeObjectMember
  width 100%
  height auto
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
  align-items flex-start

.attributeObjectMemberToggle
.attributeObjectMemberKey
.attributeObjectMemberRequirement
.attributeObjectMemberDescription
.attributeObjectMemberValueRow
.attributeObjectMemberSamplesRow
  flex-grow 1
  height auto
  width auto

.attributeObjectMemberToggle
  width 0px
  max-width 0px
  min-width 0px
  height auto
  order 1

.attributeObjectMember.isExpandableCollapsible
  > .attributeObjectMemberToggle
    width 20px
    max-width 20px
    min-width 20px

.attributeObjectMemberKey
  width 120px
  max-width 120px
  min-width 120px
  order 2

.attributeObjectMemberRequirement
  max-width 25px
  width 25px
  min-width 25px
  order 3

.attributeObjectMemberDescription
  flex-grow 4
  order 4


.attributeObjectMember.isExpandableCollapsible
  .attributeObjectMemberDescription
    padding-left 20px
    padding-right 20px

.attributeObjectMemberDescription
  margin-top 10px

.attributeObjectMemberValueRow
  width 100%
  order 5
  margin-top 10px


.attributeObjectMemberSamplesRow
  width 100%
  order 6
  border-top 1px solid #d8dbe4
  margin-top 10px
  padding-top 10px

.attributeObjectMemberType
  width 100%
  height auto

/**
 * Base
 */
.attributeObjectMember
  padding-bottom 10px
  padding-top 10px
  border-bottom 2px solid #d8dbe4

.attributeObjectMember
  > .attributeObjectMemberValueRow
    margin-left 10px

.attributeObjectMember.isExpandableCollapsible
  > .attributeObjectMemberValueRow
    margin-left 20px

.attributeObjectMember.isExpandableCollapsible
  .attributeObjectMember
    .attributeObjectMemberKey
      padding-left 10px

.attributeObjectMember.isObject
  > .attributeObjectMemberValueRow
    border 2px solid #d8dbe4

.attributeObjectMember.isArray
  > .attributeObjectMemberValueRow
    background-color #f7f8fb
    border 1px solid #d8dbe4

.attributeObjectMember.isExpandableCollapsible
  .attributeObjectMemberValueRow
    margin-top 10px

.attributeObjectMember
  .attributeObjectMemberValueRow
    .attributeObject
      .attributeObjectMembers
        .attributeObjectMemberContainer:last-child
          .attributeObjectMember
            border-bottom 0px

/**
 * Expand/Collapse
 */
.attributeObjectMember.isExpanded
  .attributeObjectMemberValueRow
    display block

.attributeObjectMember.isCollapsed
  .attributeObjectMemberValueRow
    display none

