/**
 * Layout
 */
.attributeObject
.attributeObjectToggle
.attributeObjectMembers
.attributeObjectMemberContainer
  width auto
  height auto
  padding 0
  margin 0

.attributeObject
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content flex-start
  align-items flex-start

.attributeObjectMembers
  width auto
  height auto
