<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Attributes Playground</title>
</head>
<body>

  <div id="playgroundContainer">
  </div>

  <script src="/webpack-dev-server.js"></script>
  <script src="/playground.js"></script>
  <script src="https://npmcdn.com/drafter.js"></script>

  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: [
          'Source+Sans+Pro:200italic,200,300,300italic,400,400italic,600,600italic,700,700italic,900,900italic:latin',
          'Source+Code+Pro:400,200,300,500,600,700,900:latin',
        ]
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

</body>
</html>
