*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  -webkit-font-smoothing antialiased
  box-sizing border-box
  margin 0
  padding 0

.visualTestingContainer
  display flex
  flex-wrap wrap
  justify-content space-between

.column
  width 100%

.header
  display flex
  justify-content space-around
  padding-top 20px
  padding-left 20px
  padding-bottom 20px
  color #626c7e
  font-family "Source Code Pro"
  font-size 10px
  font-weight 400
  line-height 13px
  text-transform uppercase

  .leftSide
    width 100%
    display flex
    justify-content flex-start

  .rightSide
    width 100%
    display flex
    justify-content flex-end

    span
      margin-left 36px

      &:last-child
        margin-right 20px

      a
        text-decoration none

.body
  display flex
  justify-content space-between
  box-shadow 0px 2px 14px 0px rgba(51,67,88,0.10)

.ico
  &:before
    content ''
    display block
    width 17px
    height 17px
    float left
    margin-right 6px

.gitHubIco
  @extend .ico
  &:before
    background: url('icon-github.svg') no-repeat

.documentationIco
  @extend .ico
  &:before
    background: url('icon-documentation.svg') no-repeat
