.attributeArrayItem
  width auto
  height auto
  padding 0
  margin 0
  padding-top 10px
  padding-bottom 10px

.attributeArrayItemRow
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
  align-items flex-start

.attributeArrayItemToggle
.attributeArrayItemKey
.attributeArrayItemDescription
.attributeArrayItemValue
  flex-grow 1
  height auto
  width auto

.attributeArrayItemToggle
  width 0px
  max-width 0px
  min-width 0px
  height auto
  padding-left 10px

.attributeArrayItem.isExpandableCollapsible
  > .attributeArrayItemRow
    > .attributeArrayItemToggle
      width 30px
      max-width 30px
      min-width 30px

.attributeArrayItemKey
  width 60px
  max-width 60px
  min-width 60px

.containsExpandableCollapsibleElements
  .attributeArrayItemKey
    padding-left 20px

.containsExpandableCollapsibleElements
  .attributeArrayItem.isExpandableCollapsible
    .attributeArrayItemKey
      padding-left 0px

.attributeArrayItemValue
  padding-left 20px
  padding-right 20px

.attributeArrayItem.isExpandableCollapsible
  > .attributeArrayItemRow
    > .attributeArrayItemValue
      width 100%
      padding-left 30px
      margin-top 10px

.attributeArrayItemValue
  .attributeObjectMembers
    border 2px solid #d8dbe4

.attributeArrayItemDescription
  width 100%

.attributeArray
  .attributeArrayItemContainer
    .attributeArrayItem
      border-bottom 2px solid #d8dbe4

.attributeArray
  .attributeArrayItemContainer:last-child
    .attributeArrayItem
      border-bottom 0

.attributeArrayItem.isExpanded
  .attributeArrayItemValue
    display block

.attributeArrayItem.isCollapsed
  .attributeArrayItemValue
    display none
