.attributeArrayItem
  width auto
  height auto
  padding 0
  margin 0
  padding-top 10px
  padding-bottom 10px

.attributeArrayItemRow
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
  align-items flex-start
  position relative
  top 0px
  left 0px

.attributeArrayItemToggle
.attributeArrayItemColumn
  flex-grow 1
  height auto
  width auto

.attributeArrayItemToggle
  width 0px
  max-width 0px
  min-width 0px
  height auto
  padding-left 10px

.attributeArrayItem.isExpandableCollapsible
  > .attributeArrayItemRow
    > .attributeArrayItemToggle
      width 30px
      max-width 30px
      min-width 30px

/*.containsExpandableCollapsibleElements
  .attributeArrayItemKey
    padding-left 20px

.containsExpandableCollapsibleElements
  .attributeArrayItem.isExpandableCollapsible
    .attributeArrayItemKey
      padding-left 0px*/



/*
.attributeArrayItem.isExpandableCollapsible
  > .attributeArrayItemRow
    > .attributeArrayItemValue
      width 100%
      padding-left 30px
      margin-top 10px
*/

/*
.attributeArrayItemDescription
  width 100%

.attributeArrayItem.isExpanded
  .attributeArrayItemValue
    display block

.attributeArrayItem.isCollapsed
  .attributeArrayItemValue
    display none
*/
