.attributeDefaults
  width auto
  height auto
  padding 0
  margin 0

.attributeDefaultsTitle
  margin-top 10px
  font-size 16px

.attributeDefaultsEntries
  margin-top 10px
  border 2px solid #d8dbe4

.attributeSimpleValue
  padding-left 20px

.attributeDefaultsEntries
  > .attributeSimpleValue
    padding-left 0px
