.attributeSample
  width 100%
  height auto
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
  align-items flex-start

.attributeSamplesToggle
  width 20px
  max-width 20px
  min-width 20px
  order 2
  cursor pointer

.attributeSamplesToggleText
  width auto
  order 1
  cursor pointer
  height 20px
  line-height 22px

.attributeSamplesList
  order 3
  width 100%
  margin-top 10px
  padding-left 20px

.attributeSamplesList
  .attributeSample
    width 100%
    height auto
    border 1px solid #d8dbe4
    padding 10px

.attributeSamples.isExpanded
  .attributeSamplesList
    display block

.attributeSamples.isCollapsed
  .attributeSamplesList
    display none
