/**
 * Layout
 */
.attributeKey
  float left
  width 100%
  height auto

/**
 * Base
 */
.attributeKey
  font-weight 800
  font-size 16px

.attributeObjectMember
  .attributeKey
    color #5d6577

.attributeObjectMember.isExpandableCollapsible
  > .attributeObjectMemberKey
    > .attributeKey
      color #39f

.attributeArrayItem
  .attributeArrayItemKey
    .attributeKey
      color #5d6577
      font-size 16px
      text-align left
