/**
 * Layout
 */
.attributeKey
  float left
  width 100%
  height auto
  padding-bottom 5px

/**
 * Base
 */
.attributeKey
  font-weight 800
  font-family TitilliumText
  font-size 16px
  line-height 24px
