/**
 * Layout
 */
.attributeKey
  float left
  width 100%
  height auto

/**
 * Base
 */
.attributeKey
  font-weight 800
  font-size 16px

.attributeObjectMemeber
  .attributeKey
    color #5d6577

.attributeObjectMemeber.isExpandableCollapsible
  > .attributeObjectMemeberKey
    > .attributeKey
      color #39f

.attributeArrayItem
  .attributeArrayItemKey
    .attributeKey
      color #5d6577
      font-size 16px
      text-align left
